/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*@import "../node_modules/tachyons/css/tachyons.min.css";*/
@import url('https://fonts.googleapis.com/css?family=Yatra+One');

body {
  background:url('assets/img/background.jpg');
  color: white;
  width: 80%;
  margin: 0 auto;
  font-family: 'Yatra One', cursive;
}
.bg-purple {
   background: #5128a5;
}
.new-user-form {
   display: flex;
   height: 100px;
   align-items: center;
   justify-content: space-between;
}
.users-box {
   display: grid;
   grid-template-columns: 25% 25% 25% 15% 10%;
}
.delete-all {
   display: flex;
   justify-content: center;
}
.delete-all button {
   line-height: 30px;
   padding: 0 10px;
   margin-top: 10px;
}
.icons-actions {
   cursor: pointer;
}
.users-holder {
   margin-top:10px;
}
.users-holder .users-box:nth-child(1) {
   border-bottom: 1px solid;
   border-top: 1px solid;
}
.users-spinner {
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.new-user-form button {
   line-height: 30px;
   padding: 0 10px;
}
.new-user-form button.create-button[disabled] {
   background-color: #ffcdd2;
}
.new-user-form > div {
   height: 24px;
}
.new-user-form > div input {
   height: 100%;
}
.error-messages {
   color: red;
}
.edit-user-form > label {
   display: block;
   float: left;
   width: 30%;
}
.edit-user-form > input {
   display: block;
   float: left;
   width: 70%;
   height: 25px;
}
.dialog-buttons {
   float: right;
}
.dialog-buttons > button {
   line-height: 30px;
}
.new-user-form .ng-touched.ng-invalid {
   border: 2px solid red;
}
